<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome To AGEN ⭐️ </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Bienvenue sur EventBrite ! Le meilleur endroit pour s informer des nouvelles activités.</p>
    </div>
  </div>

<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>
    

    <li>
      Voici ton email : <%= current_user.email %>
    </li>
   
    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
        

  <% end %>
</ul>

<body>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
          <img src="https://images.ladepeche.fr/api/v1/images/view/5c2c7b338fe56f278553637b/large/image.jpg" alt="exemple de texte alternatif"/>

            <div class="card-body">
              <p class="card-text">Ici sera le texte du futur évèment</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="https://i.pinimg.com/originals/63/f7/fa/63f7faa4e138bbca38a565ce22bb6f47.jpg" alt="exemple de texte alternatif"/>
            <div class="card-body">
              <p class="card-text">Ici sera le texte du futur évèment</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="https://images.ladepeche.fr/api/v1/images/view/5c3779e83e454614cc60c0ca/large/image.jpg" alt="exemple de texte alternatif"/>

            <div class="card-body">
              <p class="card-text">Ici sera le texte du futur évèment</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

       